---
permalink: /
layout: landing.liquid
---

{% for poster in site.data.posters %}
    <div class="lightbox v3" tabindex="0">
      <img class="thumb-poster" src="/assets/posters/thumbs/thumb_{{poster.file}}.webp" alt="{{poster.title}}" />
      <div tabindex="0">
        <span style="background-image: url(/assets/posters/full/full_{{poster.file}}.webp)">
            <span class="poster-title"></span>
            <span class="poster-title-text">{{poster.title}}</span>
        </span>
      </div>
      <span class="thumb-poster-title-container">
          <span class="thumb-poster-title"></span>
          <span class="thumb-poster-title-text">{{poster.title}}</span>
      </span>
    </div>
{% endfor %}
