---
permalink: /sound
layout: landing.liquid
---

{% for sound in site.data.sounds %}
    <div class="audio-container">
        <audio controls class="sound-control">
          <source src="/assets/sounds/converted/{{sound.file}}.ogg" type="audio/ogg">
        </audio>
        <span class="sound-title">{{sound.title}}</span>
    </div>
{% endfor %}