<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta charset="utf-8">
    <title>cearan.nl::{{ page.title }}</title>
    <link rel="manifest" href="/assets/site.webmanifest">
    <link rel="stylesheet" href="/assets/style.css">
    <meta name="theme-color" content="#1E1E1E">
</head>