<div class="header">
    <a href="/" class="header-text"><img height="70" src="/assets/logo_white.png"/></a>
    <nav id="menu">
        <a href="/">Image</a>
        |
        <a href="/sound">Sound</a>
    </nav>
</div>
