<!DOCTYPE html>
<html>
    {% include "head.liquid" %}
    <body>
    <div class="container">
        {% include "header.liquid" %}
        <div class="main-content">
            {{ page.content }}
        </div>
    </div>
  </body>
</html>
